@import "../../index.scss";

footer {
  background-color: black;
  flex-direction: row;
  display: flex;
  width: 100%;
  height: 230px;
  justify-content: space-evenly;

  .footer_links {
    width: 33%;
    justify-content: space-around;
  }

  .brand_logo,
  .footer_links,
  .footer_links,
  .footer_subscribe {
    display: flex;
    align-items: center;
    color: white;
    ul {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      list-style: none;
      padding: unset;
      margin: unset;
      a {
        color: white;
        font-size: 20px;
        text-decoration: none;
        padding: 5px;
        &:hover {
          color: $hover-link;
        }
        &:active {
          color: $hover-link;
        }
      }
    }

    @media screen and (max-width: 900px) {
      &.footer_subscribe {
        display: none;
      }
    }
    @media screen and (max-width: 900px) {
      &.footer_links {
        flex-basis: content;
        align-items: unset;
        align-content: normal;
        margin: auto;
        ul {
          margin: 1rem;
        }
      }
    }
    @media screen and (max-width: 900px) {
      &.brand_logo {
        margin: 1rem;
        p {
          text-align: center;
        }
      }
    }
  }

  .footer_subscribe {
    form {
      display: flex;
      flex-direction: column;
      button {
        width: 100%;
        background-color: #0085d0;
        color: white;
        font-size: 20px;
        padding: 0.5rem;
        border: none;
      }
      input {
        padding: 0.5rem;
      }
      label,
      input,
      button {
        margin-bottom: 0.5rem;
      }
    }
  }
  @media screen and (max-width: 700px) {
    justify-content: normal;
  }
}

.brand_logo {
  p {
    margin: 0;
  }
}
