//SHOP BY CATEGORY

.shop-by-category-div {
    background: linear-gradient(to bottom, #E1FFA3 55%, black 45%);
    height: 43rem;
    width: 100%;
}

.category-header {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.category-header h1 {
    font-weight: bold;
    color: black;
    margin: 5rem 0;
    font-size: 5rem;
}

.category-images {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.category-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    height: 25rem;
}



.category-wrapper b {
    color: white;
    font-size: 1.25rem;
    margin-top: 5px;
    cursor: pointer;
    transition: .4s;
}

.category-wrapper:hover b {
    color: #a3ff77;
}

.category-image {
    position: relative;
    overflow: hidden;
    width: 15rem;
    height: 22rem;
}


.category-image img {
    width: 15rem;
    height: 22rem;
    object-fit: cover;
    cursor: pointer;
    transition: all .4s linear;
}

.category-wrapper:hover .category-image img,.category-image:hover img {
    transform: scale(1.03);
    transition: all .4s linear;
}

.category-image figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #a3ff77;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .4s;
}

.category-wrapper:hover > .category-image figcaption, .category-image:hover figcaption {
    opacity: 1;
    background-color: rgba(0,0,0,0.6);
    transition: .4s;
    cursor: pointer;
}

.category-image > figcaption P {
    color: #a3ff77;
    text-align: center;
    border-bottom: 1px solid #a3ff77;
    padding: 5px;
    width: 100%;
}