//PRODUCT CARD STYLING

.buy-btn {
    background-color: black !important;
    border: none!important;
    color: #a3ff77!important;
   
}


.heartButton{
    background-color: unset;
    border: unset;
    outline: unset;
    margin-left: 5px;
    color:grey;
}

.heartButtonClick{
    svg{color: red;}
}
