@import "../index.scss";


#navbarScrollingDropdown, .nav-link , .navbar-light .navbar-brand{
        color:$nav-link; 
        &:hover{
            color:$hover-link;
            border-bottom: 1px solid $hover-link;
        }    
}


.dropdown-menu.show{
    justify-content: space-around;
    background-color: black;
    color:white;
    left: calc(100% - 30rem);
    min-width: 60rem;
    @media screen and (min-width: 602px) {
        display: flex !important;
    }
}

.form-control{
    color:white;
    background: none;
    outline:none;
    border:1px solid white;
    border-radius: unset;
    height: 29px;
}

.dropdown-item{
    color:white;
    &:hover{
        background-color:$hover-link;
        color:black;
    }
}


.my_account{ 
    .dropdown-menu.show{
        flex-direction: column;
    }    
}

.me-auto{
    margin:auto;
}


.navbar-light .navbar-toggler-icon{
    filter: brightness(0) invert(1);
}

.navbar .btn-primary{
    background-color: unset;
    outline: none;
    border:none;
    font-size: 20px;
}

.links_end{
    display: flex;
}