.SearchContainer {
    max-width: 650px;
    max-height: 900px;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    box-shadow:
      rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 10000;
}

.circleArrow {
    position: absolute;
    z-index: 1000;
    background-color: #878484a1;
    color: #FFF700;
    font-size: 1.5rem;
    margin: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
}